# Virtual environments
ven/
venv/
env/
.venv/
ENV/

# Python caching & bytecode
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Large data files
data/raw/
data/processed/
*.zip
*.csv
*.tsv
*.xlsx
*.pkl
*.h5
*.joblib

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
